.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.lang-navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 10vh;
  font-size: 0.95em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
}
